.container{
    height: 10vh;
    background-color: rgb(150, 177, 177);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}
.section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.home{
    text-decoration: none;
    color: white;
}

.input{
    width: 180px;
    border: none;
    outline: none;
    display: flex;
    flex-wrap: wrap;
    &::placeholder{
        padding-left: 10px;
    }
}
.searchcontainer{
    height: 35px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.name{
    font-size: 30px;
    color: white;
    cursor: pointer;
}



@media only screen and (max-width: 600px) {
    .section{
        display: none;
    }
    Avatar{
        display: inline;
    }
  }